<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="serveApp"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title ng-bind-template="{{title?title+'-':''}}送你微信公众号第三方平台">送你</title>
    <meta name="keyword" content="送你,礼物,微信,公众号,第三方平台">
    <meta name="description" content="送你微信公众号第三方平台">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="baidu-site-verification" content="qWoevylhcr" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <div class="browsehappy">
      您使用的是浏览器版本过低。请<a href="http://browsehappy.com/" target="_blank">升级您的浏览器</a>，以改善您的体验。
      </div>
    <![endif]-->
    
    <header class="header" ng-include="'components/header.html'" ng-if="wxUser"></header>
    <div ui-view="" ng-if="!wxUser" class="gift-home"></div>
    <div class="container gift-container" ng-if="wxUser">
      <div class="row">
        <div ng-if="wxUser.pay_config" class="col-xs-2 gift-menu" ng-include="'components/sidebar.html'"></div>
        <div ng-class="{'col-xs-10': wxUser.pay_config, 'col-xs-12': !wxUser.pay_config}" class="gift-cont">
          <span ng-if="wxUser.pay_config" ncy-breadcrumb></span>
          <div  ui-view="" class="main"></div>
        </div>
      </div>
    </div>
    <footer class="footer" ng-include="'components/footer.html'" ng-if="wxUser"></footer>
    <uib-alert class="pt-alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close($index)">{{alert.msg}}</uib-alert>
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/angular/angular.min.js"></script>
      <script src="bower_components/jquery/dist/jquery.min.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="bower_components/angular-resource/angular-resource.min.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script src="bower_components/lodash/lodash.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
      <script src="bower_components/restangular/dist/restangular.min.js"></script>
      <script src="bower_components/angular-breadcrumb/release/angular-breadcrumb.min.js"></script>
      <script src="bower_components/moment/moment.js"></script>
      <script src="bower_components/angular-moment/angular-moment.min.js"></script>
      <script src="bower_components/ngUpload/ng-upload.min.js"></script>
      <script src="bower_components/angular-file-upload/angular-file-upload.min.js"></script>
      <script src="bower_components/tinymce-dist/tinymce.min.js"></script>
      <script src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
      <script src="bower_components/qrcode-generator/js/qrcode.js"></script>
      <script src="bower_components/angular-qrcode/qrcode.js"></script>
      <script src="bower_components/zeroclipboard/dist/ZeroClipboard.min.js"></script>
      <script src="bower_components/ng-clip/src/ngClip.js"></script>
      <script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
      <script src="bower_components/file-saver/FileSaver.min.js"></script>
      <script src="bower_components/angular-bootstrap-file-field/dist/angular-bootstrap-file-field.min.js"></script>
      <script src="bower_components/holderjs/holder.min.js"></script>
      <script src="bower_components/angular-holderjs/src/holder.js"></script>
      <script src="bower_components/angular-elastic/elastic.js"></script>
      <script src="bower_components/jszip/dist/jszip.min.js"></script>
      <!-- endbower -->
      <script src="bower_components/angular-i18n/angular-locale_zh.js"></script>
      <script src="bower_components/moment/locale/zh-cn.js"></script>
      <script src="bower_components/file-saver/FileSaver.min.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,client}) app/app.js -->
      <script src="app/app.js"></script>
      <!-- injector:js -->
      <script src="app/album/album.controller.js"></script>
      <script src="app/album/album.js"></script>
      <script src="app/album/album.service.js"></script>
      <script src="app/app.constant.js"></script>
      <script src="app/bambu/bambu.controller.js"></script>
      <script src="app/bambu/bambu.js"></script>
      <script src="app/breadcrumb/breadcrumb.js"></script>
      <script src="app/document/document.controller.js"></script>
      <script src="app/document/document.js"></script>
      <script src="app/document/document.service.js"></script>
      <script src="app/gift/gift.controller.js"></script>
      <script src="app/gift/gift.js"></script>
      <script src="app/gift/gift.service.js"></script>
      <script src="app/login/login.controller.js"></script>
      <script src="app/login/login.js"></script>
      <script src="app/main/main.controller.js"></script>
      <script src="app/main/main.js"></script>
      <script src="app/merchant/merchant.controller.js"></script>
      <script src="app/merchant/merchant.js"></script>
      <script src="app/merchant/merchant.service.js"></script>
      <script src="app/phone/phone.directive.js"></script>
      <script src="app/plans/plans.controller.js"></script>
      <script src="app/plans/plans.js"></script>
      <script src="app/plans/plans.service.js"></script>
      <script src="app/suborder/suborder.controller.js"></script>
      <script src="app/suborder/suborder.js"></script>
      <script src="app/suborder/suborder.service.js"></script>
      <script src="app/wechat/wechat.controller.js"></script>
      <script src="app/wechat/wechat.js"></script>
      <script src="app/wechat/wechat.service.js"></script>
      <script src="app/worker/worker.controller.js"></script>
      <script src="app/worker/worker.js"></script>
      <script src="app/worker/worker.service.js"></script>
      <script src="components/alert/alert.service.js"></script>
      <script src="components/directives/ng-file.js"></script>
      <script src="components/directives/ng-print.js"></script>
      <script src="components/directives/nosy-pagi.js"></script>
      <script src="components/directives/valid-file.js"></script>
      <script src="components/modal/modal.service.js"></script>
      <script src="components/navbar/navbar.controller.js"></script>
      <!-- endinjector -->
    <!-- endbuild -->
<!-- <div style="display:none">
<script src="http://s11.cnzz.com/stat.php?id=1256263160&web_id=1256263160" language="JavaScript"></script>
</div> -->
</body>
</html>
