//poi.tags.html 门店分组
//头部
.poi-title{
  background: #F4F5F9;
  padding-top: 30px;
  padding-bottom: 10px;
  .pic img{
    width: 54px;
    height: 54px;
    float: right;
  }
  .font p:first-child{font-size: 20px;line-height: 18px;}
  .font p:last-child{white-space: normal;color: #898989;line-height: 20px;}
}
//左侧
.poi-left{
  .box{
    margin-top: 40px;
    border: 1px solid #EFEFEF;
    .allStore{
      span{
        display:block;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        background: #F4F5F9;
      }
    }
  }
  //省市区
  .address-poi{
    padding-left: 10px;
    padding-bottom: 10px;
    background: #F4F5F9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    .ssq{padding-right: 0;}
    .ui-select-bootstrap .ui-select-match .btn{border-radius: 0;}
    .input-group{
      .form-control:first-child{border-radius: 0;}
      .input-group-btn .btn{border-radius: 0;}
    }
    .search .input-group span{color: #898989;}
    .btn-default{
      background: #FFFFFF !important;
      border: 1px solid #CCCCCC;
    }
  }
  //列表
  .table-poi{
    margin-top: 5px;
    .thead{
      background: #F4F5F9;
      label{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left:0px ;
        font-weight: normal;
      }
      #btn{padding: 5px 20px;margin-left: 20px;margin-top: -5px;background: #3796F9;color: #FFFFFF;border: none;}
      #btn[disabled]{background: #E8E8EC;color: #898989;border: 1px solid #CFCFD1;}
      #btn[disabled]:hover{background: #E8E8EC;color: #898989;border: 1px solid #CFCFD1;}
      #btn:hover{background: #3796F9;color: #FFFFFF;border: none;}
    }
    tbody tr td{border-top: 0;vertical-align: top !important;}
    .text-muted{white-space: normal;}
  }
}
//弹框
.checkbox-inline + .checkbox-inline{margin-left: 0px;margin-top: 10px;}
.checkbox-inline{width: 100px;margin-left: 0px;margin-right: 20px;margin-bottom: 10px;margin-top: 10px;}
.btn-sure{float: left;margin:10px 0px 10px 95px;background: #3796F9;color: #FFFFFF;border: 0;padding: 5px 25px;border-radius: 5px;}
.btn-sure:hover{background: #3796F9;}
.popover.bottom > .arrow{border-bottom-color: #999999;}
//右侧
.poi-right{
  .box{
    margin-top: 40px;
    border: 1px solid #EFEFEF;
    header{
      background: #F4F5F9;
      border-bottom: 1px solid #D4D4D4;
      h5{
        line-height: 30px;
        font-weight: normal;
        float: left;
        padding-left: 15px;
      }
      .toolbar{
        text-align: right;
        .btn-sm{
          margin: 10px;
          background: #3796F9;
          color: #FFFFFF;
          border: 0;
        }
      }
    }
    .list-group{
      min-height: 250px;
      .store{
        background: #F4F5F9;
        border-bottom: 0;
        a{color: #3796f9;}
      }
      .list-group-item{border-left: 0;border-right: 0;}
      .list-group-item:first-child{border-radius: 0;border-top: 0;}
      .list-group-item:last-child{border-radius: 0;border-bottom: 0;}
      .list-group-item.active{background: #F4F5F9;border-color: #F1F1F3;color: #3796F9;}
      .editable-wrap{margin: 10px;}
      div.list-group-item a{color: #3796F9;text-decoration: none;}
      div.active a{color: #3796F9;}
      div.list-group-item .badge{
        width: 50px;
        height: 25px;
        padding: 0;
        line-height: 25px;
        color: #FFFFFF;
        font-weight: normal;
        border-color: #3796F9;
      }
      div.list-group-item .badge:hover{background: #3796F9;}
    }
  }
}

//poi.manage.html  门店统计
.manage-poi{
  // 头部
  .toolbar{
    height: 45px;
    line-height: 45px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
    background: #F4F5F9;
    button:nth-child(1){}
    button:nth-child(1):hover{background: rgba(144,193,50,.6);}
    button:nth-child(2){background: #FFFFFF;border: 1px solid #CCCCCC;}
    button:nth-child(2):hover{background: rgba(244,245,249,.5)}
  }
  .manage-main{
    //省市区
    .addr{
      padding-right: 0;
      .btn-default{
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 0;
      }
    }
    //搜索
    .search{
      .form-control{
        border-radius: 0;
      }
      .btn-default{
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 0;
      }
    }
    // 排序
    .sort{
      margin-bottom: 20px;
      .s-left{
        display: inline-block;
        width: 45px;
        height: 35px;
        line-height: 35px;
      }
      .s-right{
        display: inline-block;
        width: 110px;
        height: 35px;
        float: right;
        line-height: 35px;
        .btn-default{border-radius: 0;}
      }
    }
    // 列表
    .table-manage{
      thead{
        tr th{border-bottom: 1px solid #DDDDDD;}
      }
    }
  }
}
