<div  ui-view="">
<div class="row bam-config">
  <form class="form-horizontal con-form" name="form" ng-submit="post(form)" novalidate>
  	<div class="row con-head">
  		<div class="col-xs-1" style="width: 65px;"></div>
  		<div class="col-xs-10">
	      <span>下载配置文档，按照配置文档完成以下配置</span>
	      <a href="http://91pt.oss-cn-beijing.aliyuncs.com/contract/91%E9%80%81%E7%A4%BC%E6%94%AF%E4%BB%98%E9%85%8D%E7%BD%AE%E6%95%99%E7%A8%8B%E5%89%AF%E6%9C%AC.pdf" target="_blank" class="btn xzwdbtn">下载配置文档 <i class="fa fa-long-arrow-down"></i></a>
	    </div>
	    <div class="col-xs-1" style="width: 65px"></div>
  	</div>
  	<div class="row con-body">
  		<div class="col-xs-1 col1"></div>
  		<div class="col-xs-5 right">
  			<!--商户号-->
  			<div class="row form-group form-all" 
  					 ng-class="{ 'has-success': form['pay.mch_id'].$valid && submitted,
                                            'has-error' : form['pay.mch_id'].$invalid && submitted }">
					<div class="col-xs-2">
          	<label for="pay.mch_id" class="control-label config-name">商户号</label>
					</div>
          <div class="col-xs-10">
            <input id="from-cntrol1" type="text"  
            	class="form-control form-config" 
            	ng-model="pay.mch_id" 
            	name="pay.mch_id" 
            	placeholder="请输入微信支付分配的商户号" required>
            <p ng-show="form['pay.mch_id'].$error.required && submitted" class="help-block">
            	商户号必须填写.
            </p>
          </div>
        </div>
        <!--API密钥-->
        <div class="row form-group form-all" 
        		 ng-class="{ 'has-success': form['pay.key'].$valid && submitted,
                                            'has-error' : form['pay.key'].$invalid && submitted }">
					<div class="col-xs-2">
          	<label for="pay.key" class="control-label config-name">API密钥</label>
					</div>
          <div class="col-xs-10">
            <input id="from-cntrol2" type="text" class="form-control form-config" 
            			 name="pay.key" ng-model="pay.key" placeholder="请输入API签名密钥" required>
            <p ng-show="form['pay.key'].$error.required && submitted" class="help-block">
            	API签名密钥必须填写.
            </p>
          </div>
        </div>
        <!--API证书-->
  			<div class="row form-group form-all" 
  					 ng-class="{ 'has-success': form['pfx'].$valid && submitted,
                                            'has-error' : form['pfx'].$invalid && submitted }">
          <div class="col-xs-2">
          	<label for="pfx" class="control-label config-name">API证书</label>
          </div>
          <div class="col-xs-10 uploadFlie">
            <input id="from-cntrol3" type="file" class="form-control"  name="pfx" required/>
            <p ng-show="form['pfx'].$error.required && submitted" class="help-block">
              API证书必须填写.
            </p>
          </div>
        </div>
        <!--支付授权目录-->
        <div class="row config-font">
        	<div class="col-xs-2">支付授权目录</div>
        	<div class="col-xs-10">{{ wxUser.pubdom }}/wepay/ </div>
        </div>
        <!--JS接口安全域名-->
        <div class="row config-font">
        	<div class="col-xs-2">JS接口安全域名</div>
        	<div class="col-xs-10">{{ wxUser.pubdom }}</div>
        </div>
  			<!--企业域名-->
  			<div class="row config-font">
  				<div class="col-xs-2">企业域名</div>
  				<div class="col-xs-10">{{ wxUser.pubdom }}</div>
  			</div>
  			<!--微信公号模板消息-->
  			<div class="row config-font">
  				<div class="col-xs-2">微信公号模板消息</div>
  				<div class="col-xs-10">
  					确认微信公众号模板消息行业为IT/科技 电子商务<br />
            <small class="small">如果不是,请修改</small>
  				</div>
  			</div>
  			<!--编辑按钮-->
  			<div class="row btn-foot">
  				<div class="col-xs-3">
	  				<div class="fanhui" ui-sref="bambu.contact"><a>返回</a></div>
	  			</div>
	  			<div class="col-xs-4">
	        	<button id="mybtn1" type="submit" class="btn btn-danger btn-block">完 成</button>
	  			</div>
  			</div>
  		</div>
  		<div class="col-xs-5"></div>
  		<div class="col-xs-1"></div>
  	</div>
  </form>
</div>
</div>