.con-head1{
    margin-top: 10px;
    margin-bottom: 33px;
}
.con-head1 .col-xs-12{
    background: #F7F8F8;
    border: 1px solid #EBECEC;
    padding: 40px 10px;
    margin-left: 15px;
    width: 97% !important;
}
.con-body1{
    margin-left: 15px !important;
}
.btn-foot1 .btn{
    width: 165px;
    max-height: 42px;
    line-height: 42px;
}
.fcol{
    width: 14%;
    margin-right: 10px;
}


ul li{
    list-style: none;
}
.form-pay .row{
    margin-left: 0;
    margin-right: 0;
}
.form-pay .col-xs-1,.form-pay .col-xs-2,.form-pay .col-xs-10{
    padding-left: 0;
    padding-right: 0;
}
.form-pay .control-label{
    font-weight: normal;
    padding-left: 15px;
}
.form-pay .label1{
    padding-right: 9px;
    text-align: left;
}
.form-pay .col10{
    padding-top: 7px;
    margin-left: 10px;
}
.form-pay .control-label1{
    padding-left: 22px;
}
.form-pay .form-control{
    height: 34px;
    border-radius: 0;
}
.form-pay .btn{
    max-height: 34px !important;
    background: #FFFFFF;
    border: 1px solid #90c132;
    color: #90c132;
}

.wxuser{margin-top: 100px;margin-bottom: 100px;}
.wxuser .row{
    margin-left: 0;
    margin-right: 0;
}
.wxuser a{
    color: #90C132;
}
.wxuser a:hover{
    text-decoration: none;
    color: #90C132;
}
.wx-head{
    margin-left: 15px !important; 
}
.wx-head h5{
    font-size: 16px;
    color: #90C132;
}
.common .col-xs-12{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}
.common,.commonpt{
    margin-top: 25px;
}
.common .col-xs-2{
    padding-left: 90px;
}
.commonpt .col-xs-2{
    padding-left: 15px;
}
