$icon-font-path: "../bower_components/bootstrap/fonts";
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/font-awesome/scss/font-awesome';
body {
  background: #f7f7f7;
  color: #595757;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans GB', 'PingHei', 'PingFang SC', 'STHeitiSC-Light', 'Microsoft YaHei', 'Lantinghei SC', 'Arial', sans-serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.header {
  height: 130px;
  position: relative;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #595757;
  border-bottom: 1px solid #727172;
}

.gift-navbar {
  margin-top: 60px;
  float: right;
  margin-bottom: 0;
  background-color: transparent;
  border-color: transparent;
}
//菜单栏样式
.container{
//  width: 1210px;
}
.container .col-xs-8{
    padding-right: 0;
}

.img-responsive{
    margin-top: 40px;
    margin-left: -18px;
}
.gift-cont,.gift-menu{
    padding: 0;
}
.gift-navbar .navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.gift-navbar .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #8FC31F
}
.navbar1 .container-fluid{
    padding-right: 0;
}
.navbar1 .navbar-collapse{
    padding-right: 0;
}
.gift-container {
  margin-top: 40px;
  min-height: 550px;
}

.gift-home {
  min-height: 550px;
}

.footer {
  text-align: center;
  border-top: 1px solid #595757;
  margin-top: 10px;
  padding: 15px 30px;
}

.gift-sidebar {
  margin-top: 59px;
}

.gift-sidebar .nav>li>a {
  display: block;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
  background: #DCDDDD;
  margin-bottom: 8px;
  padding: 15px 0 15px 30px;
}

.gift-sidebar .nav>li>a:focus,
sidebar .nav>li>a:hover {
  color: #FFFFFF;
  background: #595757;
}

.gift-sidebar .nav>li.active>a {
  color: #FFFFFF;
  background: #595757;
}

.main {
  padding: 10px;
  background: #ffffff;
}

.breadcrumb {
  font-weight: 500;
  padding: 10px;
  background-color: transparent;
  margin-bottom: 0
}
.breadcrumb > .active{
    color: #898989;
}
.panel-default {
  border-color: transparent;
}

.table>tbody>tr>td {
  border-top: 0;
}

thead {
  background: #f7f7f7;
}

.table-bordered > thead > tr > th {
  border: 0;
}

.panel > .panel-body + .table {
  border: 0;
}

.table>thead>tr>th {
  border: 0;
}

.btn {
  border-radius: 0px;
  border: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.btn-default {
  background-color: #dcdddd;
}

.table>tbody>tr>td {
  vertical-align: middle;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 12px;
}

.table-condensed > thead > tr > th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-null {
  padding: 2px 10px;
  border-radius: 0px;
  border: 0;
  background-color: #dcdddd;
  font-size: 12px;
  color: #fff;
}

;
.btn-default[disabled] {
  background-color: #dcdddd;
  border-color: #fff;
}

.btn-danger {
  background: #ef7889;
}

.btn-danger:hover {
  background: #ef7889;
}

// Component styles are injected through grunt
/* inject:scss */
@import 'gift/gift';
@import 'main/main';
@import 'plans/plans';
@import 'wechat/wechat';
@import '../components/alert/alert';
@import '../components/directives/ng-print';
@import '../components/directives/nosy-pagi';
@import '../components/modal/modal';
/* endinject */
