$icon-font-path: "../bower_components/bootstrap/fonts/";
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/font-awesome/scss/font-awesome';
body {
  background: #f7f7f7;
  color: #595757;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans GB', 'PingHei', 'PingFang SC', 'STHeitiSC-Light', 'Microsoft YaHei', 'Lantinghei SC', 'Arial', sans-serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@media screen and (min-width: 1200px){
  .container {width: 100% ;}
}
.gift-container{
  margin-top: 35px;min-height: 700px;
  a,a:hover{text-decoration: none;}
  .gift-menu,.gift-cont{
    padding-left: 0;
    padding-right: 0;
  }
}
.gift-home {min-height: 550px;}
//头部样式
.header {
  height: 85px;
  position: relative;
  color: #898989;
  background: #FFFFFF;
  border-bottom: 1px solid #C3C3C4;
  .col-xs-4,
  .col-xs-8{
    padding-left: 0;
    padding-right: 0;
  }
}
.img-responsive{
  margin-top: 21px;
  margin-left: 45px;
}
.gift-navbar {
  min-height: 0;
  float: right;
  margin-top: 27px;
  margin-bottom: 0;
  background-color: transparent;
  border-color: transparent;
  .container-fluid{padding-right: 0;}
}
.gift-navbar .navbar-nav li a {
  padding: 7px;
}
.gift-navbar .navbar-nav li a {color: #898989;}
.navbar-default .navbar-nav li a:hover, 
.navbar-default .navbar-nav li a:focus{
  color: #8FC31F
}
//------------
.breadcrumb {
  font-size: 23px;
  font-weight: 500;
  padding: 10px;
  padding-top: 0;
  margin-bottom: 0;
  background-color: transparent;
}
.breadcrumb > .active{color: #898989;}
//------------
.footer {
  text-align: center;
  border-top: 1px solid #595757;
  margin-top: 10px;
  padding: 15px 30px;
}
.gift-sidebar {margin-top: 59px;}
.gift-sidebar .nav>li>a {
  display: block;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
  background: #DCDDDD;
  margin-bottom: 8px;
  padding: 15px 0 15px 30px;
}
.gift-sidebar .nav>li>a:focus,
sidebar .nav>li>a:hover {
  color: #FFFFFF;
  background: #595757;
}
.gift-sidebar .nav>li.active>a {
  color: #FFFFFF;
  background: #595757;
}
.main {
  padding: 10px;
  background: #ffffff;
}

.panel-default {border-color: transparent;}
.table>tbody>tr>td {border-top: 0;}
thead {background: #f7f7f7;}
.table-bordered > thead > tr > th {border: 0;}
.panel > .panel-body + .table {border: 0;}
.table>thead>tr>th {border: 0;}

.btn {
  border-radius: 0px;
  border: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.btn-default {background-color: #dcdddd;}

.table>tbody>tr>td {
  vertical-align: middle;
//padding-top: 14px;
//padding-bottom: 14px;
  font-size: 12px;
}

.table-condensed > thead > tr > th {
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-null {
  padding: 2px 10px;
  border-radius: 0px;
  border: 0;
  background-color: #dcdddd;
  font-size: 12px;
  color: #fff;
}
.btn-default[disabled] {
  background-color: #dcdddd;
  border-color: #fff;
}
.btn-danger {background: #ef7889;}
.btn-danger:hover {background: #ef7889;}

// Component styles are injected through grunt
/* inject:scss */
@import 'gift/gift';
@import 'main/main.cuncunle';
@import 'main/main';
@import 'plans/plans';
@import 'poi/poi';
@import 'user/user';
@import 'wechat/wechat';
@import 'worker/worker';
@import '../components/alert/alert';
@import '../components/directives/ng-print';
@import '../components/directives/nosy-pagi';
@import '../components/modal/modal';
@import '../components/navbar/headfootccl';
@import '../components/navbar/navbar';
/* endinject */
