$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
body {
  background: #f7f7f7;
  color: #595757;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.header {
  position: relative;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #595757;
  border-bottom: 1px solid #727172;
}

.gift-navbar {
  margin-top: 80px;
  float: right;
  margin-bottom: 0;
  background-color: transparent;
  border-color: transparent;
}

.gift-navbar .navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.gift-navbar .navbar-nav > li > a {
  color: #ffffff;
}

.gift-container {
  margin-top: 30px;
  min-height: 550px;
}

.gift-home {
  margin-top: 30px;
  min-height: 550px;
}

.footer {
  text-align: center;
  border-top: 1px solid #595757;
  margin-top: 10px;
  padding: 15px 30px;
}

.gift-sidebar {
  margin-top: 59px;
}

.gift-sidebar .nav>li>a {
  display: block;
  text-align: right;
  padding: 20px 50px;
  font-size: 18px;
  font-weight: 500;
  color: #939393;
  background: #efefef;
  margin-bottom: 10px;
}

.gift-sidebar .nav>li>a:focus,
sidebar .nav>li>a:hover {
  color: #000000;
  background: #ffe3eb;
}

.gift-sidebar .nav>li.active>a {
  color: #000000;
  background: #ffe3eb;
}

.main {
  border: 1px solid #ececec;
  box-shadow: 1px 1px 3px #cbcbcd;
  padding: 10px;
  background: #ffffff;
}

.breadcrumb {
  font-weight: 500;
  padding: 10px;
  background-color: transparent;
  margin-bottom: 0
}

.panel-default {
  border-color: transparent;
}

.table>tbody>tr>td {
  border-top: 0;
}

thead {
  background: #f7f7f7;
}

.table-bordered > thead > tr > th {
  border: 0;
}

.panel > .panel-body + .table {
  border: 0;
}

.table>thead>tr>th {
  border: 0;
}

.btn {
  border-radius: 0px;
  border: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.btn-default {
  background-color: #dcdddd;
}

.table>tbody>tr>td {
  vertical-align: middle;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 12px;
}

.table-condensed > thead > tr > th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-null {
  padding: 2px 10px;
  border-radius: 0px;
  border: 0;
  background-color: #dcdddd;
  font-size: 12px;
  color: #fff;
}

;
.btn-default[disabled] {
  background-color: #dcdddd;
  border-color: #fff;
}

.btn-danger {
  background: #ef7889;
}

.btn-danger:hover {
  background: #ef7889;
}

// Component styles are injected through grunt
// injector
@import 'gift/gift.scss';
@import 'main/main.scss';
@import 'alert/alert.scss';
@import 'directives/ng-print.scss';
@import 'modal/modal.scss';
// endinjector
