<div class="bigpack_comm">
  <div class="modal_title">
    <span>选择商品</span>
    <span ng-click="$dismiss()">X</span>
  </div>
  <div class="panel-body comm_main">
    <div class="row panel-search">
      <input type="text" class="s-input" ng-model="status.name" placeholder="按找商品名查找"/>
      <span ng-click="findByName()" class="s-span"><i class="fa fa-search"></i></span>
    </div>
    <table class="table table-condensed gift-list tab_comm" id="exportable">
      <thead>
        <tr>
          <th width="10%">选择</th>
          <th width="30%">商品名称</th>
          <th width="15%">单价</th>
          <th width="15%">发布时间</th>
          <th width="15%">订单数</th>
          <th width="15%">发货数</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "gift in gifts" ng-click="selectCommodity(gift)">
          <td><input type="checkbox" ng-checked="selectedGift.id === gift.id"/></td>
          <td class="word-break">{{ gift.info.name }}</td>
          <td>{{ gift.info.price | currency }}</td>
          <td>{{ gift.time.add | date : 'yyyy.MM.dd hh:mm' }}</td>
          <td>{{ gift.num.pay }}</td>
          <td>{{ gift.num.delivery }}</td>
        </tr>
      </tbody>
    </table>
    <div class="panel-body text-right">
      <pagination boundary-links="true" total-items="pagi.totalItems" ng-model="pagi.currentPage" items-per-page="pagi.itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
    <div class="pag">
      <nosy-pagi pagi="pagi"></nosy-pagi>  
    </div>
  </div>
  <div class="modal_foot">
    <input type="button" value="确定" ng-disabled="!selectedGift" ng-click="submit()"/>
    <input type="button" value="取消" ng-click="$dismiss()"/>
  </div>
</div>