<div ui-view class="panel panel-default gift-order gift-info">
  <table class="table table-condensed table-head">
    <!--<thead>
      <tr>
        <th>订单号：{{order.serial}}</th>
        <th>买方：{{order.sender.name}}</th>
        <th>支付时间：{{order.time.add | date : 'yyyy.MM.dd hh:mm'}}</th>
      </tr>
    </thead>-->
    <tbody>
      <tr>
        <td width="40%">
          <img ng-src="{{order.gift.info.cover ? appConfig.uriPht + order.gift.info.cover:'assets/images/present_sent_demo.png'}}" alt="...">
          <div class="order-info">
            <div class="info-name"><a>{{order.gift.info.name}}</a></div>
            <div>商品价格：{{order.gift.info.price  | currency}}</div>
            <!--<div>实付金额：{{order.gift.info.price * order.capacity | currency}}</div>-->
          </div>
        </td>
   			<td width="20%">
   				<p>买家：{{order.sender.name}}</p>
   				<p>订单号：{{order.serial}}</p>
        	<p>创建时间：{{order.time.add | date : 'yyyy.MM.dd hh:mm'}}</p>
        	<p>购买数量：{{order.capacity}}</p>
   			</td>
        <td width="20%" class="center">
          <div>
            <span>已发货 ({{order.shipping}})</span><br />
            <span class="shipping">待发货 ({{order.receivers.length - order.shipping}})</span>
          </div>
        </td>
        <td width="20%" class="downcode">
          <button ng-if=" order.receivers[0].scene != 'wb' " ng-click="exportCards()" class="btn btn-code">批量下载语音码</button>
          <button ng-click="exportSuborders()" class="btn btn-code btn_suborder">批量导出子订单</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>子订单单号（序列号）</th>
        <th>发货方式</th>
        <th>收货人信息</th>
        <th>时间</th>
        <th class="text-center" width="90">发货管理</th>
        <th ng-if=" order.receivers[0].scene != 'wb' " class="text-center" width="90">语音码</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in order.receivers">
        <td>{{item.id}}</td>
        <td>
          <span ng-if=" item.scene !='wb' ">{{item.scene === 'poi' ? '门店自提' : '物流配送'}}</span>
          <span ng-if=" item.scene ==='wb' ">微商场景</span>
        </td>
        <td ng-if="item.scene !='wb' && item.telephone">
          <span>{{item.consignee || item.name }}</span>
          <span ng-if="item.scene === 'logistics'">{{item.address}}</span>
          <span ng-if="item.scene === 'poi'">{{item.poi.base_info.business_name}}</span>
          <span>{{item.telephone}}</span>
        </td>
        <td ng-if=" item.scene !='wb' && !item.telephone">
          <span style="color: #90c132;">暂未领取</span>
        </td>
        <td ng-if=" item.scene ==='wb' && !item.telephone ">
          <span>{{item.consignee || item.name }}</span>
        </td>
        <td>
					<p>创建时间－{{ item.fillinDate | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
					<p ng-if="item.status.shipping_date">发货时间－{{ item.status.shipping_date | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
					<p ng-if="item.status.read_date">收货时间－{{ item.status.read_date | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
				</td>
        <td align="center">
          <span ng-if="item.status.shipping">已发货</span>
          <button ng-if="!item.status.shipping && item.telephone" ng-click="shippingModel(item)" class="btn btn-primary btn-outline btn-xs btn-ship">发货</button>
          <button ng-if="!item.status.shipping && !item.telephone" ng-disabled="true" ng-click="shippingModel(item)" class="btn btn-primary btn-outline btn-xs">－</button>
        </td>
        <td align="center" ng-if=" item.scene !='wb' ">
          <button ng-click="exportCard(item)" class="btn btn-primary btn-outline btn-xs btn-ship-down">下载</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
