<div ui-view class="panel panel-default gift-order">
  <div class="panel-body">
    <!-- in v2, v1's toolbar is refactored -->
    <!-- https://github.com/arrking/songni/issues/84 -->
    <!-- <div class="btn-group btn-group-sm btn-danger" ng-if="env === 'dev'">
      <label class="btn" ng-model="status.pay" btn-radio="''">全部(测试用)</label>
      <label class="btn" ng-model="status.pay" btn-radio="true">已付</label>
      <label class="btn" ng-model="status.pay" btn-radio="false">未付</label>
    </div>

    <div class="btn-group btn-group-sm btn-danger">
      <label class="btn" ng-model="status.shipping" btn-radio="''">全部</label>
      <label class="btn" ng-model="status.shipping" btn-radio="true">已发货</label>
      <label class="btn" ng-model="status.shipping" btn-radio="false">未发货</label>
    </div>  -->
    <!--button type="button" class="btn btn-primary btn-sm" ng-click="exportCards()" style="margin-left:10px;">下载声音卡</button-->
    <form class="form-horizontal order-warp" name="forms.orderForm" ng-submit="searchByCondition()" novalidate>
      <div class="row order-head">
      	<div class="col-xs-5 order-time">
      		<div class="start col-xs-5">
	          <div class="form-group"
	          	ng-class="{ 'has-error' : forms.orderForm.starttime.$invalid && submitted}">
	            <div class="input-group pull-left">
	              <input type="text" class="form-control"
	                name="starttime"
	                uib-datepicker-popup="{{'dd-MMMM-yyyy'}}" 
	                ng-model="status.startTime" is-open="status.startTimePopup.opened" 
	                close-text="Close" 
	                placeholder="起始时间"
	                alt-input-formats="altInputFormats" />
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="openStarttimePopup()">
	                  <i class="glyphicon glyphicon-calendar"></i>
	                </button>
	              </span>
	            </div>
	          </div>
	        </div>
	        <div class="col-xs-1 font-span">
	        	<span>至</span>
	        </div>
	        <div class="end col-xs-5">
	          <div class="form-group" 
	          	ng-class="{ 'has-error' : forms.orderForm.endtime.$invalid && submitted}">
	            <!--<label for="endtime" class="control-label"> —— </label>-->
	            <div class="input-group pull-left">
	              <input type="text" class="form-control"
	                name="endtime"
	                uib-datepicker-popup="{{'dd-MMMM-yyyy'}}" 
	                ng-model="status.endTime" is-open="status.endTimePopup.opened" 
	                close-text="Close" 
	                placeholder="结束时间"
	                alt-input-formats="altInputFormats" />
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="openEndtimePopup()">
	                  <i class="glyphicon glyphicon-calendar"></i>
	                </button>
	              </span>
	            </div>
	          </div>
	        </div> 
	        <div class="col-xs-1 btn-col1">
	        	<button type="submit" class="btn btn-primary btn-outline btn-sm btn-sub"><i class="fa fa-search"></i></button>
	        </div>
      	</div>
      	<!--序列号-->
      	<div class="col-xs-3">
          <input type="number" class="form-control form-number" ng-model="status.serial" placeholder="按订单号查找">
        	<button type="submit" class="btn btn-primary btn-outline btn-sm btn-sub"><i class="fa fa-search"></i></button>
      	</div>
      	<!--订单号-->
        <!--<div class="col-xs-3">
        	<div class="form-group">
	          <input type="text" class="form-control form-number" ng-model="status.order" placeholder="输入订单号查找">
	        	<button type="submit" class="btn btn-primary btn-outline btn-sm btn-sub">搜索</button>
		      </div>
        </div> -->
        <!--分页-->
        <div class="col-xs-1 form-pagi">
        	<nosy-pagi pagi="pagi"></nosy-pagi>
        </div>
        <div class="col-xs-3 print">
        	<button type="button" class="btn btn-primary btn-outline btn-sm" ng-click="exportOrders()">导出订单</button>
        </div>
      </div>
      <!--<div class="row print">
      	<div class="col-xs-12">
      		<button type="button" class="btn btn-primary btn-outline btn-sm" ng-click="exportCards()" >声音卡</button>
        <button type="button" class="btn btn-primary btn-outline btn-sm" ng-click="exportOrders()">导出订单</button>
      	</div>
      </div>-->
    </form>
		<!--订单筛选-->
		
    <div class="from-group online">
      <div class="col-xs-6 left left1">
	      <div class="btn-group btn-danger btn-group-sm">
	        <label class="btn" ng-model="status.finish" uib-btn-radio="">全部订单</label>
	        <label class="btn" ng-model="status.finish" uib-btn-radio="false">未完成</label>
	        <label class="btn" ng-model="status.finish" uib-btn-radio="true">已完成</label>
	      </div>
      </div>
      <div class="col-xs-6 right">
    	  <nosy-pagi pagi="pagi"></nosy-pagi>
      </div>
    </div>  
  </div>
  
  
  <table class="table table-condensed gift-orderlist" id="exportable">
    <thead>
      <tr>
        <th width="15%">订单号</th>
        <th width="10%">买家</th>
        <th width="18%">所购商品</th>
        <th width="12%">支付时间</th>
        <th width="12%">实付金额</th>
        <th width="10%">购买数量</th>
        <th width="15%">子订单发货状态</th>
        <th class="hidden-print" width="20%">订单详情</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders" ng-init="giftorders[$index]={
          serial:'['+order.serial+']',
          time:(order.time.add | date : 'yyyy-MM-dd  hh:mm'),
          nickname:order.sender.info.nickname,
          name:order.receiver.consignee,
          address:order.receiver.address,
          telephone:order.receiver.telephone,
          gift:order.gift.info.name
        };">
        <td>
        <a  ui-sref="gift.order.detail({id:order.id})">
        {{order.serial}} </a>
        </td>
        <td>{{order.sender.info.nickname}}</td>
        <td>
          <a  ui-sref="gift.detail.qrcode({id:order.gift.id})">
          {{order.gift.info.name}}</a>
        </td>
        <td>{{order.time.add | date : 'yyyy.MM.dd hh:mm'}}</td>
        <td>￥ {{order.gift.info.price}}</td>
        <td align="center">{{order.capacity}}</td>
        <!--td style="background:#f7f7f7">
                    <p class="hidden-print">{{order.receiver.address | limitTo:15}}{{order.receiver.address.length > 15 ? '...' : ''}}</p>
                    <p class="visible-print-block">{{order.receiver.address}}</p>
                </td-->
        <td align="center">
          <div>已发货 ({{countShipping(order)}})</div>
          <div ng-if="order.receivers.length-countShipping(order) === 0">待发货 (0)</div>
          <button ng-if="order.receivers.length-countShipping(order) != 0" ui-sref="gift.order.detail({id:order.id})" class="btn btn-primary btn-xs btn-dfh">待发货 ({{order.receivers.length-countShipping(order)}})</button>
        </td>
        <td ng-if="false" class="hidden-print"><span ng-class="{'bg-danger':order.status.pay}">{{order.status.pay?'已付':'未付'}}</span></td>
        <!--td align="center" class="hidden-print">
          <button class="btn btn-primary btn-xs" ng-click="exportCard()">下载</button>
          <button class="btn btn-primary btn-xs" ng-click="wxQrcodeModel()" ng-if="env === 'dev'">微信二维码</button>
          <a href="http://{{wxUser.appid}}.{{clientUri}}/gift/listen/{{order.id}}" target="_blank" class="btn btn-primary btn-xs" ng-if="env === 'dev'">试听</a>
        </td-->
        <td align="center" class="hidden-print">
         <!-- <div>{{order.status.pay?'已付款':'待支付'}}</div>--> <!--see issue #133-->
          <button class="btn btn-default btn-xs btn-xq" ui-sref="gift.order.detail({id:order.id})">详情</button>
          <!--button class="btn btn-primary btn-xs" ng-click="shippingModel()" ng-if="!order.status.shipping">发货</button-->
        </td>
      </tr>
    </tbody>
  </table>
  <div class="panel-body text-right">
    <pagination boundary-links="true" total-items="pagi.totalItems" ng-model="pagi.currentPage" items-per-page="pagi.itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  </div>
</div>
