textarea{resize: none;}
.panel-body {
  padding: 10px 0;
}

.gift-order {
  tr:nth-child(even) {
    background-color: #f7f7f7;
  }
}

.qrcode {
  display: block;
  margin: 24px auto 16px;
  max-width: 100%;
}

.qrcode-link {
  display: table;
  margin-bottom: 10px;
}

.qrcode-link .qrcode {
  margin: 0;
}

.gift-post-title {
  margin: 20px 30px 25px;
}

.gift-post-title span {
  padding-left: 5px;
}

.form-control {
  box-shadow: none;
  height: 28px;
}

.control-label-cust {
  float: left;
  text-align: center !important;
}

.form-control::-webkit-input-placeholder {
  color: #b5b5b6;
}

.preview-image {
  width: 100px;
  height: 100px;
  background-color: white;
  margin-right: 10px;
}

.preview-image img {
  width: 100px;
  height: 100px !important;
}
.preview-image .img-responsive{
    margin: 0;
}

.upload-file {
  margin-top: 35px;
}
.upload-file span{
    font-size: 12px !important;
    color: #000000;
    display: block;
}
.upload-file .btn-primary{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
}
.upload-file .btn-primary:hover{
    background: #F7F8F8;
    border: 1px solid #CCCCCC;
}
.btn-danger {
  background: #ffe3eb;
  color: #595757;
}

.btn-danger:hover {
  background: #ffe3eb;
  color: #595757;
}

.btn {
  border-radius: 3px;
  max-height: 28px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  border-color: #90c132;
  background-color: #90c132;
}

.btn-primary {
  background-color: #90c132;
  &.btn-outline {
    border: 1px solid #90c132;
    padding: 4px 9px;
    color: #90c132;
    background-color: #fff;
  }
}

.btn-primary:hover {
  background-color: #90c132;
  &.btn-outline {
    border: 1px solid #90c132;
    padding: 4px 9px;
    color: #fff;
    background-color: #90c132;
  }
}

.btn-primary[disabled] {
  opacity: 0.5;
}

.word-break {
  word-break: break-all;
  white-space: normal;
}

//发布礼物页面样式----------
.form-post{
  .row{
    margin-left: 20px;
    margin-right: 0;
    .col-xs-1,
    .col-xs-3,
    .col-xs-11{
      padding-left: 0;
      padding-right: 0;
    }
  }
  .form-control{border-radius: 0;}
  .form-group{margin-bottom: 0;}
  .choise{font-size: 12px;padding-left: 10px;color: #B9B9BA;}
}
.gift-common{
  background: #F7F8F8;
  padding: 10px 0;
  label{
    font-weight: normal;
    font-size: 14px;
    color: #494545;
    padding-left: 10px;
  }
  .label-f{padding-left: 16px;}
  .label-k{padding-left: 34px;}
  .input-group-addon{
    background: #EFEFEF;
    border-radius: 0;
  }
  .noteStock {
    font-size: 12px;
    margin-top: 5px;
    color: #B9B9BA;
  }
  .col-xs-11{width: 89%;}
  .img-ratio{
    clear: both;
    padding-top: 5px;
    font-size: 13px;
    color: #B9B9BA;
  }
}
.gift-details{padding-bottom: 15px;}
.gift-consum{
  .row{margin-left: 0;}
  .store{
    padding-left: 0 !important;
    input{
      vertical-align: -1px;
      margin-right: 5px;
    }
  }
  label{padding-top: 0 !important;}
  .store-logistics{
  }
}
.gift-poi{
  .col-xs-2,
  .col-xs-6{
    padding-left: 0;
    padding-right: 0;
  }
  margin-bottom: 15px;
  .col-xs-2{line-height: 30px;}
  .btn-default{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
  }
  .col-xs-7{
    position: relative;
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
    padding: 10px;
    margin-left: 0;
  }
  .triangle{
    position: absolute;
    top: -7px;
    left: 110px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #CCCCCC;
    border-top-width: 0;
  }
  .triangle:after {
    position: absolute;
    border-width: 5px;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: #FFFFFF;
    bottom: 1px;
    margin-bottom: -8px;
    margin-left: -5px;
    content: " ";
    border-top-width: 0;
  }
}
.form-submit{
  padding: 10px 0;
  .form-foot{
    width: 20%;
    .btn-ground{
      padding: 20px 0;
      line-height: 0;
      background: #516CFD;
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 16px;
    }
    .btn-ground:hover{background: rgba(81,108,253,.7);}
  }
}
.btn-tigger{display: inline-block;width: 12px;height: 8px;}
.up_img{background: url(https://img.91pintuan.com/songli/client/up_img.png) no-repeat;}
.down_img{background: url(https://img.91pintuan.com/songli/client/down_img.png) no-repeat;}
.editGreeting{
  padding-bottom: 30px;
  .row{margin-left: 0;}
  .col-xs-5,
  .col-xs-6,
  .col-xs-12{
    padding-left: 0;
    padding-right: 0;
  }
  .showHide{
    span{
      display: inline-block;
      margin-top: 7px;
    }
    span:first-child{margin-right: 10px;}
    span:last-child{
      color: #B9B9BA;
      cursor: pointer;
    }
  }
  .edit{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 10px;
  }
  .edit-img{
    span{padding-left: 15px;padding-bottom: 10px;display: block;}
    img{width: 60%;padding-left: 15px;margin-left: 35px;}
  }
  .edit-main{
    background: #FFFFFF;
    margin-left: -50px;
    .edit-title{
      .label-left{
        padding-left: 0;
        height: 30px;
        line-height: 30px;
      }
      input{
        height: 30px;
        padding-right: 35px;
        border: 1px solid #CCCCCC;
        padding-left: 5px;
      }
      .note{
        font-size: 12px;
        color: #B9B9BA;
        padding-left: 25%;
      }
    }
    .guide{
      margin-bottom: 35px;
    }
  }
  
}


//商品二维码页面样式----------
.form-url{
    background: #EFEFEF;
    margin-left: 0;
    margin-right: 0;
}
.form-url .col-xs-1,.form-url .col-xs-10{
    padding-left: 0;
    padding-right: 0;
}
.form-url .col-xs-10{width: 81%;}
.form-url .control-label{
    font-weight: normal;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
}
.form-url .form-control{
    height: 34px;
    border-radius: 0;
    margin: 10px 0;
}
.form-url .btn{
    margin-top: 10px;
    max-height: 34px !important;
    border: 1px solid #9BC838;
    background: #FFFFFF;
    border-radius: 4px;
    margin-left: 10px;
    color: #9BC838;
    font-size: 12px;
}
.form-shop .qrcode{padding-top: 30px;}
.text-code{
    text-align: center;
    width: 260px;
    background: #F7F8F8;
    padding-bottom: 30px;
}
.form-shop .panel-default{
    border:1px solid  #C7E18F;
    margin-top: 25px;
}
//商品管理页面样式----------
.panel-search{
    height: 65px;
    background: #F7F8F8;
    margin: -10px 0 30px 0;
}
.panel-search .col-xs-7{margin-top: 16px;}
.panel-search .s-input{
    float: left;
    width: 205px;
    height: 32px;
    font-size: 13px;
    padding-left: 10px;
    margin-left: 10px;
    border: #DCDCDD solid 1px;
}
.panel-search .s-span{
    float: left;
    width: 38px;
    height: 32px;
    display: block;
    background: #FFFFFF;
    border: #DCDCDD solid 1px;
    border-left: none;
    text-align: center;
    line-height: 32px;
}
.select{
    text-align: right;
    margin-top: 16px;
    margin-right: -10px;
}
.select span:nth-child(1){
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    color: #9F9F9F;
}
.select span:nth-child(2){
    display: inline-block;
    width: 75px;
    padding-right: 5px;
    font-size: 12px;
    height: 32px;
    border: 1px solid #DCDCDD;
    border-right: none;
    background: #FFFFFF;
    line-height: 32px;
}
.panel-search .pagi-r .pagination{display: none;}
.pagi-r .pull-left{
    float: right !important;
    border: 1px solid #DCDCDD;
    border-left: none;
    height: 32px;
}
.pagi-r{margin-top: 16px;}
.pagi-r .pagi-per-page .btn-line.btn-metis-5{
    color: #000000;
    background-color: #FFFFFF;
    border-color: none;
}
.pagi-r .btn-group.open .dropdown-toggle{box-shadow: none;}
.online .left1{padding-left: 0;}
.online1{margin-bottom: 75px;}
.online1 .left{padding-left: 0;}
.online .left .btn{
    border: 1px solid #E2E2E3;
    border-radius: 0;
    color: #000000;
    max-height: 32px !important;
}
.online .right .btn{
    border: 1px solid #E2E2E3;
    color: #000000;
    margin-left: 10px;
}
.online .btn-danger,.online1 .btn-primary,{background: #F7F8F8;}
.online .btn:active,.online .btn.active{
    box-shadow: none;
    background: #FFFFFF;
}
.online .right{text-align: right;}
.online .right .pull-left{float: right !important;}
.gift-list thead tr{height: 48px;}
.gift-list thead tr th{
    border-bottom: 1px solid #EEEFEF;
    line-height: 25px;
    font-weight: normal;
    font-size: 14px;
}
.gift-list tbody tr:nth-child(even){background: #F7F8F8;}
.gift-list tbody tr td:nth-child(1),.gift-list tbody tr td:nth-child(2),.gift-list tbody tr td:nth-child(3),.gift-list tbody tr td:nth-child(4),.gift-list tbody tr td:nth-child(5){
    border-right: 1px solid #F4F4F4;
}
.gift-list .vcode a {
    width: 90px;
    height: 30px;
    line-height: 25px;
    background: #fff;
    color: #F49F1E;
    border: 1px solid #F49F1E;
}
.gift-list .compile a,.gift-list .soldOut button{
    width: 55px;
    height: 30px;
    line-height: 25px;
    background: #FFFFFF;
    color: #575656;
    border: 1px solid #E4E5E5;
}
//订单查询页面样式----------
.order-warp{
    height: 110px;
    background: #F7F8F8;
    margin-bottom: 30px;
}
.order-warp1{margin-top: 10px;}
.order-head {
    margin-left: 0px;
    padding-top: 15px;
    margin-right: 0px;
    margin-top: -10px;
}
.order-time .form-control{
    border-radius: 0;
    font-size: 12px;
    border-right: none;
}
.order-time .btn-default{
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 0 !important
}
.order-time .btn-col1{margin-left: -16px;}
.order-time .font-span {
    line-height: 28px;
    padding: 0 10px;
    font-size: 12px;
    color: #B5B5B6;
}
.order-time .start,.order-time .end{padding: 0;}
.order-time .start .form-group,.order-time .end .form-group{
    margin: 0;
    padding: 0;
}
.end .control-label{float: left;}
.end .pull-left{float: none !important;}
.order-head .col-xs-3 .form-group{
    margin: 0 !important;
    padding: 0 !important;
}
.form-number {
    float: left;
    width: 173px;
    font-size: 12px;
    border-radius: 0;
}
.btn-sub {
    float: left;
    border: 1px solid #CCCCCC !important;
    border-radius: 0;
    margin-left: -1px;
}
.order-head .pagination{display: none;}
.form-pagi .pagi-per-page .btn-line.btn-metis-5{
    border: 1px solid #CCCCCC;
    border-radius: 0;
    margin-left: -25px;
}
    //  订单打印
.print {float: right;}
.print .btn-primary.btn-outline {
    border: 1px solid #889AFB;
    padding: 4px 63px;
    color: #889AFB;
    float: right;
    background-color: #FFFFFF;
}
    //批量下载语音码
.print .btn-card{
    margin-top: 20px;
    width: 176px;
    margin-right: 15px !important;
    padding: 4px 0 !important;
}
    
.gift-orderlist thead tr{height: 48px;}
.gift-orderlist thead tr th{
    border-bottom: 1px solid #EEEFEF;
    line-height: 25px;
    font-weight: normal;
    font-size: 14px;
}
.gift-orderlist tbody tr td{border-right: 1px solid #F4F4F4;}
.gift-orderlist tbody tr td:nth-child(1) a{color: #595757;}
.gift-orderlist tbody tr td:nth-child(3) a{color: #7388FD;}
.gift-orderlist .btn-dfh {
    padding: 6px 8px;
    background: #F39800;
}
.gift-orderlist .btn-xq {
    padding: 6px 8px;
    border: 1px solid #E9EAEA;
    background: #ffffff;
}
//发货管理页面样式----------
.suborder thead tr{height: 48px;}
.suborder thead tr th{
    border-bottom: 1px solid #EEEFEF;
    line-height: 25px;
    font-weight: normal;
    font-size: 14px;
}
.suborder tbody tr:nth-child(even){background: #F7F8F8;}
.suborder tbody tr td{border-right: 1px solid #F4F4F4;}
.suborder tbody tr td:nth-child(6){border-right:none;}
.suborder .ship {
    background: #ffffff;
    border: 1px solid #F6B74E;
    color: #F6B74E;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 20px;
}
.suborder .ifship{margin-left: 25px;}
.suborder .upload {
    background: #ffffff;
    border: 1px solid #EAEBEB;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 20px;
}
//填写商家信息----------
.bambu-grid{margin: 0;}
.bambu-grid .col-xs-6{padding: 0;}
.bambu-grid .active{background: #8FC31F;}
.bambu-grid .active a{color: #FFFFFF;}
.wssjxx{
    margin-top: 40px;
    margin-left: 30px;
    border-right: 1px solid #B5B5B6;
}
.bambu-grid .bambu-tab{
    display: block;
    height: 55px;
    font-size: 15px;
    text-align: center;
    line-height: 55px;
    color: #000000;
    border: 1px solid #ECECED;
}
.bambu-grid .bambu-tab:hover{text-decoration: none;}
.bamcont .row{
    margin-left: 15px;
    margin-right: 15px;
}
.bamcont .col-xs-6,.bamcont .col-xs-2,.bamcont .col-xs-5,.bamcont .col-xs-10{
    padding-left: 0;
    padding-right: 0;
}
.bamcont .col-xs-10{width: 75%;}
.bambu-group .label-name{
    font-weight: normal;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 10px;
    color: #605E5E;
}
.bambu-group .label-name1{
    padding-top: 0;
}
.bambu-group .bambu-input{
    border-radius: 0;
    border: 1px solid #E8E8E8;
    font-size: 13px;
    height: 38px;
    padding-left: 5px;
}
.bambu-btn{margin-bottom: 20px;}
.bambu-btn .btn{
    border-radius: 3px;
    max-height: 40px;
    color: #ffffff;
    background: #8FC31F;
}
//配置公众号样式----------
.bam-config,.bam-config .row{
    margin-left: 0;
    margin-right: 0;
}
.con-form .col-xs-1,.con-form .col-xs-10,.con-form .col-xs-3,.con-form .col-xs-2,.con-form .col-xs-4,.con-form .col-xs-5{
    padding-left: 0;
    padding-right: 0;
}
.con-head{margin: 40px 0;}
.con-head .col-xs-10{
    background: #F7F8F8;
    border: 1px solid #EBECEC;
    padding: 40px 10px;
}
.con-head span{
    color: #000000;
    font-size: 12px;
    padding-right: 20px;
}
.con-head .xzwdbtn {
    padding: 23px 20px;
    padding-top: 10px;
    border: 1px solid #C1DD86;
    color: #C1DD86;
}
.con-body .right{border-right: 1px solid #B5B5B6;}
.con-body .col-xs-10{width: 75%;}
.form-all{margin-bottom: 25px;}
.form-all .config-name{
    font-weight: normal;
    color: #595757;
}
.form-all .form-config{
    border-radius: 0;
    padding: 15px 5px;
    font-size: 12px;
}
.uploadFlie .form-control{ border: 0;}
.config-font{
    margin-bottom: 25px;
    color: #595757;
}
.config-font .small{color: #B5B5B6;}
.btn-foot{margin-bottom: 20px;}
.btn-foot .fanhui {
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #BFBFC0;
}
.btn-foot .fanhui a{color: #BFBFC0;}
.btn-foot .btn{
    width: 150px;
    max-height: 40px;
    line-height: 40px;
    text-align: center;
    background: #8FC31F;
    color: #FFFFFF;
    padding-top: 0;
}
//订单详情页面样式----------
.gift-info{border: none;box-shadow: none;}
.gift-info .table-head{border: 1px solid #F8F8F8;margin-bottom: 20px;background: #F7F8F8;}
.gift-info .table-head thead tr th{font-weight: normal;}
.gift-info .table-head tbody tr td{
//  width: 800px;
    border-right: 1px solid #F0F0F0;
}
.gift-info .table-head tbody tr td:nth-child(4){border-right: 0;}
.gift-info .table-head tbody tr td img{
    width:120px;
    height:120px;
    float:left;
}
.gift-info .table-head tbody .order-info{
    padding:8px;
    font-size:14px;
    line-height:18px;
    float: left;
}
.gift-info .table-head tbody .info-name{
    width: 200px;
    height: 68px;
}
.gift-info .table-head tbody .info-name a{color: #617AFD;}
.gift-info .table-head tbody .downcode{text-align: center;}
.gift-info .table-head tbody .downcode .btn-code{
    background: #FFFFFF;
    border: 1px solid #E2E3E3;
    color: #5E77FD;
    padding: 11px 19px;
    max-height: 42px !important;
    border-radius: 4px !important;
}
.gift-info .table-head tbody .center{text-align: center;font-size: 16px;line-height: 30px;}
.gift-info .table-head tbody .center .shipping{color: #F39800;}

.table-condensed > thead > tr > th{font-weight: normal;}
    //商品详情页面[发货]，[下载]按钮
.btn-ship{
    color: #FFFFFF !important;
    background: #F39800 !important;
    border: 1px solid #F39800 !important;
}
.btn-ship:hover{
    background: rgba(243,152,0,.7) !important;
}
.btn-ship-down{
    border: 1px solid #E6E7E7 !important;
    color: #595757 !important;
}
.btn-ship-down:hover{
    background: rgba(247,247,247,.8) !important;
}

// gift.order.shipping.html 发货管理
.radio-exp{
  margin-bottom: 10px;
  margin-top: 30px;
  height: 30px; 
  .col-xs-2{padding-left: 11px;}
  .col-xs-10{padding-left: 5px;}
}
.form-exp{
  .col-xs-2,
  .col-xs-10{
    font-weight: normal;
  }
  .form-group{
    .control-label{
      color: #231815;
    }
    .form-control{
      height: 35px;
    }
  }
  .text-exp{
    margin-top: 50px;
    margin-bottom: -35px;
    color: #898989 !important;
    padding-left: 25px;
  }
}
.div-self{
  margin-top: 40px;
  height: 25px;
  p{
    padding: 0 11px;
  }
}
.form-btn{
  background: #F4F5F9;
  text-align: center;
  margin-top: 20px;
  border-top: 0;
  .btn-com{
    width: 110px;
    max-height: 35px;
    font-size: 15px;
    margin-top: -5px;
    padding: 5px;
  }
  .btn-sure_exp{
    background: #2C70FF;
    color: #FFFFFF;
  }
  .btn-cancel_exp{
    background: #FFFFFF;
    color: #1E1E1E;
  }
}
