<div class="panel panel-default">
  <div class="panel-body">
  	<div class="row panel-search">
  		<div class="col-xs-7">
  			<div>
      		<input type="text" class="s-input" ng-model="status.name" placeholder="按找商品名查找"/>
      		<span ng-click="findByName()" class="s-span"><i class="fa fa-search"></i></span>
    		</div>
  		</div>
  		<div class="col-xs-4 select">
  			<span>筛选：</span>
  			<span>每页条数：</span>
  		</div>
  		<div class="col-xs-1 pagi-r">
  			<nosy-pagi pagi="pagi"></nosy-pagi>
  		</div>
  	</div>
  	
    <div class="row online">
    	<div class="col-xs-6 left">
    		<div class="btn-group btn-danger btn-group-sm">
		      <label class="btn" ng-model="status.online" uib-btn-radio="''">全部</label>
		      <label class="btn" ng-model="status.online" uib-btn-radio="true">上架</label>
		      <label class="btn" ng-model="status.online" uib-btn-radio="false">下架</label>
		    </div>
    	</div>
    	<div class="col-xs-6 right">
  			<nosy-pagi pagi="pagi"></nosy-pagi>
    	</div>
    </div>
  </div>
  
	<table class="table table-condensed gift-list" id="exportable">
	  <thead>
	    <tr>
	      <th width="30%">商品名称</th>
	      <th width="15%">单价</th>
	      <th width="15%">发布时间</th>
	      <th width="15%">订单数</th>
	      <th width="15%">发货数</th>
	      <th></th>
	      <th>操作</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat = "gift in gifts">
	      <td class="word-break">{{gift.info.name}}</td>
	      <td>{{gift.info.price | currency}}</td>
	      <td>{{gift.time.add | date : 'yyyy.MM.dd hh:mm'}}</td>
	      <td>{{gift.num.pay}}</td>
	      <td>{{gift.num.delivery}}</td>
	      <td align="center" class="vcode">
	      	<a class="btn btn-primary btn-xs" ui-sref="gift.detail.qrcode({id:gift.id})">二维码</a>
	      </td>
	      <td align="center" class="compile">
	        <a class="btn btn-success btn-xs" ui-sref="gift.detail.edit({id:gift.id})">编辑</a>
	      </td>
	      <td align="center" class="soldOut">
	        <button class="btn btn-warning btn-xs" ng-click="offShelf()" ng-if="gift.status.online === true">下架</button>
	        <span ng-if="gift.status.online === false">已下架</span>
	      </td>
	    </tr>
	  </tbody>
	</table>
  <div class="panel-body text-right">
    <pagination boundary-links="true" total-items="pagi.totalItems" ng-model="pagi.currentPage" items-per-page="pagi.itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  </div>
</div>
