<li ng-repeat="menu in menus" ui-sref-active="active"
		ng-class="{'nav-divider':menu.divider, 'nav-header head-li':menu.header }">
  <span ng-if="menu.header">
  	<span class="menu-icon menu-icon-gray">
  	  <img src="https://img.91pintuan.com/songli/server/menu-icon-new/menu-{{menu.icon}}.png" alt="" />
  	</span>
  	<span class="menu-icon menu-icon-green">
      <img class="redImg" src="https://img.91pintuan.com/songli/server/menu-icon-new/menu-{{menu.iconSelected}}.png" alt="" />
    </span>
  	<span>{{menu.title}}</span>
  </span>
  <a  ui-sref="{{menu.link}}"
  		ui-sref-opts="{{menu.opts}}"
  		ng-if="menu.link&&menu.menu">
  	<!--左侧图标-->
  	<span class="menu-icon menu-icon-gray" ng-if="menu.icon">
  	  <img src="https://img.91pintuan.com/songli/server/menu-icon-new/menu-{{menu.icon}}.png" alt="" />
  	</span>
  	<span class="menu-icon menu-icon-green" ng-if="menu.icon">
  	  <img class="redImg" src="https://img.91pintuan.com/songli/server/menu-icon-new/menu-{{menu.iconSelected}}.png" alt="" />
  	</span>
    <span class="link-title" ng-class="{'mLeft': !menu.icon}">{{menu.title}} </span>
    <span class="fa arrow" ng-show="menu.submenus"></span>
  </a>
  <a ng-if="!menu.link && menu.menu">
    <span class="link-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{menu.title}}</span>
    <span class="fa arrow" ng-show="menu.submenus"></span>
  </a>
  <ul ng-if="menu.submenus&&menu.menu">
    <li class="" ng-repeat="submenu in menu.submenus">
      <a ui-sref="{{submenu.link || 'javascript:;'}}"
      	ui-sref-opts="{{submenu.opts}}">
        <i class="fa fa-angle-right"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{submenu.title}}
      </a>
    </li>
  </ul>
</li>


