#top .navbar{
    border-top: 3px solid #F0373D;
    background: #231815;
    border-bottom: 0;
}

.breadcrumd{
	font-size: 24px;
  font-weight: 500;
}
.navbar-brand img{
	width: 200px;
	margin-top: 5px;
	margin-right: 30px;
}
.user-nav{
	position: relative;
  display: inline-block;
  vertical-align: middle;
	width: 150px;
	color: #9d9d9d;
	font-size: 9px;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
}
.user-nav a{
	color: #FFFFFF;
	text-decoration: none;
	opacity: 60%;
}
.user-nav a:hover{
	color: #F0373D;
}
.user-ico {
	width: 30px;
	float: left;;
}
.user-ico img {
	width:100%;
  height: auto;
  padding: 1px;
  background-color: #fff;
  border-radius: 6px;
}
.user-name {
	margin-left: 10px;
	float: left;
	text-align: left;
	font-size: 12px;
}

.nav-logout {
	border-left:1px solid #9d9d9d;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 15px;
}
.nav-logout a{
	color: #9d9d9d;
	text-decoration: none;
}
.nav-logout a:hover{
	color: #ffffff;
}
.un-box{
  padding:60px 30px;
  background-color:transparent;
}
// menu.html 左侧菜单栏
.gift-menu{
  padding-top: 42px;
  .mLeft{margin-left: 39px;}
  .head-li{padding: 18px 0 18px 60px;}
  .menu-icon{
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: 0;
    margin-right: 15px;
    img{
      width: 100%;
      height: 100%;
      vertical-align: -4px;
    }
  }
  ul{
    padding: 0;
    li{
      a{
        display: block;
        padding: 18px 0 18px 60px;
        color: #000000;
      }
      .menu-icon-green{display: none;}
//    .green-box{display: inline-block;width: 5px;height: 30px;background: #FF0000;margin-left: -60px;margin-right: 50px;}
    }
    li:hover,
    li.active{
      background: #EFF1F3;
      cursor: pointer;
      .menu-icon-green{display: inline-block !important}
      .menu-icon-gray{display: none !important;}
      a{color: #9FCB41;}
    }
  }
}

