<div class="mgtop"></div>
<div class="gift_index">
  <!--轮播图-->
  <div id="carousel-example-generic" class="carousel slide gift_carousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators scroll_point">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner scroll" role="listbox">
      <div class="item sl_comm scroll_one active">
        <div class="img">
          <img src="https://img.91pintuan.com/songli/server/index/scroll_one_bg.png"/>
        </div>
        <div ng-click="wechat()" class="btn_comm btn_one">
          <span>免 费 试 用<em>&gt;&gt;</em></span>
        </div>
      </div> 
      <div class="item sl_comm scroll_two">
        <div class="img">
          <img src="https://img.91pintuan.com/songli/server/index/scroll_two_bg.png"/>
        </div>
        <div ng-click="wechat()" class="btn_comm btn_two">
          <span>免 费 试 用<em>&gt;&gt;</em></span>
        </div>
      </div>
      <div class="item sl_comm scroll_three">
        <div class="img">
          <img src="https://img.91pintuan.com/songli/server/index/scroll_three_bg.png"/>
        </div>
        <div ng-click="wechat()" class="btn_comm btn_three">
          <span>免 费 试 用<em>&gt;&gt;</em></span>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!--详细介绍-->
  <div class="gift_intr">
    <div class="intr_title">
      <span>微信轻送礼 - 全新的送礼营销玩法</span>
      <span><!--裂变积粉的分享团，团长拿外快的佣金团，人越多越便宜的阶梯团！91为商家提供最最全面的拼团玩法！--></span>
    </div>
    <div class="intr_detail">
      <div class="detail fl">
        <a href="http://www.le.com/ptv/vplay/27520926.html">
          <span><img src="https://img.91pintuan.com/songli/server/index/detail_l.png" alt="" /></span>
          <span>门店引流新玩法</span>
          <span>线下门店导流 / 支持多门店</span>
          <span>多门店数据统计 / 支持LBS</span>
          <span>详细介绍</span>
        </a>
      </div>
      <div class="detail fl">
        <a href="http://www.le.com/ptv/vplay/27522312.html">
          <span><img src="https://img.91pintuan.com/songli/server/index/detail_m.png" alt="" /></span>
          <span>礼物电商营销新工具</span>
          <span>为礼物增值付能，让礼物更有心意</span>
          <span>同时送多人，一个礼包轻松解决</span>
          <span>详细介绍</span>
        </a>
      </div>
      <div class="detail dl fl">
        <a href="http://www.le.com/ptv/vplay/27528399.html">
          <span><img src="https://img.91pintuan.com/songli/server/index/detai_r.png" alt="" /></span>
          <span>大客户礼包</span>
          <span>商家可以创建无需付费的大礼包</span>
          <span>建立渠道，建立合作关系</span>
          <span>详细介绍</span>
        </a>
      </div>
    </div>
    <div id="charge"></div>
  </div>
  <!--套餐-->
  <div class="charge">
    <div class="charge_title">
      <span>订单使用量套餐</span>
    </div>
    <div class="charge_list"> 
      <span><img src="https://img.91pintuan.com/songli/server/index/charge_l.png" alt="" /></span>
      <span><img src="https://img.91pintuan.com/songli/server/index/charge_m.png" alt="" /></span>
      <span><img src="https://img.91pintuan.com/songli/server/index/charge_r.png" alt="" /></span>
    </div>
    <div class="charge_open" ng-click="wechat()">
      <span>立 即 开 通</span>
      <span>&gt;&gt;</span>
    </div>
  </div>
  <!--开通-->
  <div class="sl_open">
    <div class="step">
      <img src="https://img.91pintuan.com/songli/server/index/open_step.png" alt="" />
    </div>
  </div>
</div>