<div class="home_head">
	<div class="row">
		<div class="col-xs-8">
			<img src="assets/images/index-logo.png" class="index-logo" alt="" />
		</div>
		<div class="col-xs-4">
			<button class="wechat btnsj" ng-click="wechat()">商家登录</button>
			<button class="wechat btnkt" ng-click="wechat()">注册开通</button>
			
		</div>
	</div>
</div>
<div class="home_banner_1">
  <div class="home_banner" style="max-width:900px">
    <div class="row cont-img">
      <div class="col-xs-12 visible-xs" style="padding:50px;">
        <img src="assets/images/index-banner1.png" class="img-responsive center-block">
      </div>
      <div class="col-md-2 hidden-xs ">
        <img src="assets/images/index-banner1.png" class="img-responsive center-block">
      </div>
      <div class="col-md-4 index-banner2">
        <img src="assets/images/index-banner2.png" class="img-responsive center-block">
      </div>
    </div>
  </div>
</div>
<div class="home_banner_2">
  <div class="home_banner">
    <img src="assets/images/home2.png" class="img-responsive center-block">
  </div>
</div>
<div class="home_banner_3">
  <div class="home_banner">
    <img src="assets/images/home3.png" class="img-responsive center-block">
  </div>
</div>
<div class="home_banner_4">
  <div class="home_banner">
    <a href="http://www.spiderfamily.com" target="_blank">
     <img src="assets/images/home4.png" class="img-responsive center-block">
    </a>
  </div>
</div>
