input,button{
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.hide{display: none;}
.middle{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.btn_submit{
    display: block;
    width: 80%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    color: #FFFFFF;
    background: #f13a32;
    border-radius: 4px;
    border: none;
  }
.one_page .bottom,
.three_page .top{
  p{
    margin: 0;
    text-align: center;
    &:first-child{
     font-size: 25px;
    }
    &:nth-child(2){
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
  a{
    display: block;
    text-align: center;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    margin: 0 auto;
  }
}
.one_page{
  width: 100%;
  .top{
    width: 100%;
    height: auto;
    img{width: 100%;}
  }
  .bottom{
    margin-top: 30px;
    p{
      color: #231815;
    }
    a{
      color: #FFFFFF;
      background: #f05b47;
      border-radius: 50px;
    }
  }
}
.two_page{
  width: 100%;
  .top{
    width: 80%;
    margin: 0 auto;
    padding-top: 70px;
    img{width: 100%;}
  }
  .bottom{
    width: 100%;
    margin-top: 50px;
    img:nth-child(odd){
      padding: 2px 2px 2px 10px;
    }
    img:nth-child(even){
      padding: 2px 10px 2px 2px;
    }
  }
}
.three_page{
  background: #ee5c4d;
  .top{
    padding-top: 30px;
    p{
      color: #FFFFFF; 
    }
    a{
      color: #231815;
      background: #FFFFFF;
      border-radius: 4px;
    }
  }
  .bottom{
      margin-top: 25%;
    img{
      width: 50%;
      display: block;
      margin: 0 auto;
    }
  }
}

/*完善商家信息页面*/
.vecter_container{
  max-width: 560px;
  height: 100%;
  background: #ffffff;
}
.vecter-logo{
  width: 100%;
  height: 135px;
  background: url('https://img.91pintuan.com/songli/server/index/mobile/songli_bg.jpg') no-repeat;
  background-size: 100%;
  img{width: 100px;}
}

.vecter-form{
  .help-block{
    color: #ee5c4d;
    font-size: 12px;
    padding-left: 20px;
  }
  span{
    display: block;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 21px;
    color: #231815;
    background: #FFFFFF;
  }
  .form-group{
    margin-bottom: 0;
    input{
      height: 50px;
      margin-bottom: 2px;
      border: none;
      margin-left: 20px;
      border-bottom: 1px solid #E3E4E4;
    }
  }
}
.modal-dialog{
  margin: 0;
  border: none;
  .modal-content{
    border: none;
    border-radius: 0;
  }
}

.success{
  .black{
    width: 100%;
    height: 90px;
    background: #FFFFFF;
  }
  .icon{
    display: block;
    width: 65px;
    height: 65px;
    margin: 0 auto;
  }
  p{
    color: #595757;
    margin: 0;
    text-align: center;
  }
  .note_t{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
  }
  .note_b{
    font-size: 14px;
  }
  .foot{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 160px;
    background: #F7F8F8;
    padding-top: 50px;
    border-top: 1px solid #DCDDDD;
    .left{
      width: 47%;
      float: left;
      img{
        width: 90px;
        margin-right: 20px;
        float: right;
      }
    }
    .right{
      width: 50%;
      height: 55px;
      float: left;
      padding-left: 2%;
      border-left: 2px solid #9fa0a0;
      span{
        display: block;
        font-size: 12px;
        color: #595757;
      }
    }
  }
}


.noVecter img{
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 25%;
}
.noVecter .link span{
  text-align: center;
  color: #231815;
  display: block;
}
.noVecter .link a{
  text-align: center;
  display: block;
  margin-bottom: 5px;
}
.noVecter .link p{
  text-align: center;
  margin-bottom: 0;
}