/*home*/
.home-banner{
	background-color:#f04453;
	padding:90px 0;
}
.home-banner .container{
	max-width:1000px;
}
.home-banner .col-sm-6{
	margin-top:30px;
	margin-bottom:30px;
	padding-top:5px;
	padding-bottom:5px;
}
.home-banner .col-sm-6:first-child{
	border-right:2px solid;
}
.home-intro{
	background-color:#f7f7f7;
	color:#898989;
	padding:30px 0;
}
.home-intro .container{
	max-width:1000px;
}
.home-intro .col-sm-6{
	margin-top:30px;
}
.wx-tp-lg-btn{cursor:pointer;}
.home_header{
  background-color:#f7f8f8;
}
.home_banner_1{
  background-color:#ef7889;
  margin-top:45px;
  padding-top:35px;
  padding-bottom:40px;
}
.home_banner_2{
  background-color:#f7f8f8;
  padding-top:56px;
  padding-bottom:60px;
}
.home_banner_3{
  background-color:#ffebf0;
  padding-top:115px;
  padding-bottom:108px;
}
.home_banner_4{
  background-color:#f7f8f8;
}
.home_banner{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width:900px;
}
.btn_wx{
  float:right;
}
/*/home*/
