//main.popup.html欢迎弹窗页面
//null.html页面样式--订单余额不足
.popup-head{
    padding: 20px;
    border-bottom: 0;
}
.popup-head span{
    color: #999;
    font-weight: normal;
    font-size: 27px;
}
.modal-popup .title{
    text-align: center;
    color: #8FC31F;
    font-size: 18px;
    margin: 20px 0 30px 0;
}
.modal-popup .cont{
    text-indent: 2em;
    font-size: 13px;
    line-height: 23px;
    width: 455px;
    margin: 0 auto;
}
.modal-popup .cont .myred{
    color: #8FC31F;
}
.modal-popup .btn{
    margin: 0 auto;
    display: block;
    padding: 20px 40px;
    background: #8FC31F;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 0;
}
.modal-popup .btn a{
    color: #ffffff;
}
.modal-popup .btn a:hover{
    color: #ffffff;
    text-decoration: none;
}



/*home送你主页面*/
.home_head{
    height: 110px;
    background: #EFEFEF;
    overflow-x: hidden;
}
.home_head .index-logo{
    padding: 25px 0 0 80px;
}
.home_head .col-xs-4{
    text-align: right;
    padding-right: 80px;
}
.home_head .wechat{
    margin-top: 40px;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    background: transparent;
}
.home_head .btnsj{
    background: #8FC31F;
    color: #FFFFFF;
}
.home_head .btnkt{
    border: 1px solid #8FC31F;
    color: #8FC31F;
    padding: 6px 20px;
}
.home_head .btnsj:hover,.home_head .btnkt:hover{
    opacity: .8;
}
.index-banner2{
    width: 432px;
    float: right;
}

.home-banner .container{
	max-width:1000px;
}
.home-banner .col-sm-6{
	margin-top:30px;
	margin-bottom:30px;
	padding-top:5px;
	padding-bottom:5px;
}
.home-banner .col-sm-6:first-child{
	border-right:2px solid;
}
.home-intro{
	background-color:#f7f7f7;
	color:#898989;
	padding:30px 0;
}
.home-intro .container{
	max-width:1000px;
}
.home-intro .col-sm-6{
	margin-top:30px;
}
.wx-tp-lg-btn{cursor:pointer;}
.home_header{
  background-color:#f7f8f8;
}
.home_banner_1{
  background-color:#8FC31F;
  padding-top:35px;
  padding-bottom:40px;
}
.home_banner_2{
  background-color:#F7F8F8;
  padding-top:56px;
  padding-bottom:60px;
}
.home_banner_3{
  background-color:#E9F3D2;
  padding-top:115px;
  padding-bottom:108px;
}
.home_banner_4{
  background-color:#FFFFFF;
}
.home_banner{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width:900px;
//padding:90px 0; 
}
.home_banner1{
    max-width: 1270px;
    padding: 0px 50px;
}
.home_banner1 .img-responsive1{
    margin-left: 80px;
}

.btn_wx{
  float:right;
}
/*/home*/
.form-home{
    margin-left: 17px;
}
.form-home .row{
    margin-left: 0;
    margin-right: 0;
}
.form-home .col-xs-1,.form-home .col-xs-11{
    padding-left: 0;
    padding-right: 0;
}
.form-home .col-xs-1{
    width: 12%;
    padding-left: 15px;
}
.form-home .control-label{
    font-weight: normal;
    color: #898989;
}
.form-home .form-control-static{
    color: #000000;
}
.form-home .col-xs-11{
    width: 88%;
    padding-left: 40px;
}
.form-bot{
    padding: 15px 0;
    border: 1px solid #F6F6F6;
    border-top: 0;
    margin-top: -15px;
}
.bot1{
    margin-top: 15px;
    border-top: 1px solid #F6F6F6;
}

















