<div class="nav-sl">
  <div class="ccl-blank ccl-fl"></div>
  <div class="ccl-fl">
    <a href="#">
      <span><img src="https://img.91pintuan.com/cunleImg/nav_logo.png" alt=""></span>
      <span><img src="https://img.91pintuan.com/cunleImg/nav_vertical.png" alt=""></span>
      <span style="vertical-align: -15px;"><img src="https://img.91pintuan.com/cunleImg/nav_font.png" alt=""></span>
    </a>
  </div>
</div>
<div style="clear: both;"></div>
<div class="main-sl">
  <div class="ccl-blank ccl-fl"></div>
  <div class="main-l ccl-fl">
    <div class="img-l"><img src="https://img.91pintuan.com/cunleImg/send/main_left.png" alt=""></div>
    <div class="mbtn">
      <a href="#"><button class="sign" ng-click="wechat()">商家登录</button></a>
      <a href="#"><button class="open" ng-click="wechat()">注册开通</button></a>
    </div>
  </div>
  <div class="main-r ccl-fr">
    <div class="img-r"><img src="https://img.91pintuan.com/cunleImg/send/main_right.png" alt=""></div>
  </div>
</div>
<div class="function-sl">
  <div class="fun-title ccl-mr"><img src="https://img.91pintuan.com/cunleImg/send/fun-title.png" alt="" /></div>
  <div class="fun-icon ccl-mr"><img src="https://img.91pintuan.com/cunleImg/send/fun-icon.png" alt="" /></div>
  <div class="fun-img">
    <span><img src="https://img.91pintuan.com/cunleImg/send/fun-img1.png" alt="" /></span>
    <span><img src="https://img.91pintuan.com/cunleImg/send/fun-img2.png" alt="" /></span>
    <span><img src="https://img.91pintuan.com/cunleImg/send/fun-img3.png" alt="" /></span>
    <span><img src="https://img.91pintuan.com/cunleImg/send/fun-img4.png" alt="" /></span>
  </div>
</div>
<div class="step-sl">
  <div class="step-title ccl-mr"><img src="https://img.91pintuan.com/cunleImg/send/step-title.png"/></div>
  <div class="step-icon ccl-mr"><img src="https://img.91pintuan.com/cunleImg/send/step-icon.png" alt="" /></div>
  <div class="step-img">
    <span><img src="https://img.91pintuan.com/cunleImg/send/step-img1.png" alt="" /></span>
    <span><img src="https://img.91pintuan.com/cunleImg/send/step-img2.png" alt="" /></span>
    <span><img src="https://img.91pintuan.com/cunleImg/send/step-img3.png" alt="" /></span>
  </div>
</div>
<div class="foot-sl">
  <div class="bl">
    <span>联系我们</span><br />
    <span>GET IN TOUCH</span></div>
  <div class="bl">
    <span>合作联络</span><br />
    <span>010-51692643</span>
  </div>
  <div class="bl">
    <span>关注我们的微信号</span><br />
    <div class="follow">
      <span><img src="https://img.91pintuan.com/cunleImg/send/wx-inco.png" alt="" /></span><span>村村乐</span>
      <div class="hideBox">
        <div class="triangle"></div>
        <div class="vcode">
          <img src="https://img.91pintuan.com/cunleImg/send/vcode.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="bl">
    <span>京CP证060911号</span>
  </div>
</div>