<div class="index_nav">
  <div class="logo fl">
    <img src="https://img.91pintuan.com/songli/server/index/songli-logo.png" alt="" />
  </div>
  <ul class="nav_list fl" role="tablist">
    <li role="presentation" class="active"><a href="#index" role="tab" data-toggle="tab">首页</a></li>
    <li role="presentation"><a href="#price" role="tab" data-toggle="tab">如何收费</a></li>
    <li role="presentation"><a href="#academy" role="tab" data-toggle="tab">91新营销</a></li>
    <li role="presentation"><a href="#agent" role="tab" data-toggle="tab">成为91伙伴</a></li>
  </ul>
  <div class="btn_group fl">
		<button class="btn btn_open" ng-click="wechat()">免费开通</button>
		<button class="btn btn_sing" ng-click="wechat()">商家登录</button>
  </div>
  



