<div class="modal-header">
  <button class="close" ng-click="cancel()"><span>&times;</span></button>
  <h3 class="modal-title mytitle">&nbsp;</h3>
</div>
<div class="modal-body text-center">
  <h1 class="text-danger text-danger1">订单余额不足提醒 </h1>
  <p>商家您好,您当前的订单使用量不足,为不影响您的正常使用,<br/>请尽快到<a ui-sref="plans.center" class="myred">订购中心</a>购买!</p>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 mybun mythree">
      <button class="btn btn-danger btn-lg btn-block mythreebtn" ng-click="cancel()">订购中心</button>
    </div>
  </div>
</div>
