.panel-plan{
padding:10px;
width: 120%;
text-align: center;
}
.well-plan{
padding: 20px 0;
}
.panel-pane h3{
margin:5px 0;
}
.panel-plan img{
width:256px;
margin: 0 10px;
}
.form-plan {
padding-top: 20px;
padding-bottom: 20px;
border-top: 1px solid #e3e3e3;
border-bottom: 1px solid #e3e3e3;
}
.well-plan .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.table > tbody > tr > td.plans-right{
vertical-align: middle;
}
.table > tbody > tr > td > div.plans-price{
font-size:22px;
}
.table-plans > tbody > tr{
background-color: #f9f9f9;
}
.table-plans > tbody > tr > td{
border-left:none;
border-right:none;
padding:30px;
vertical-align: middle;
}
.table-plans .panel-plan{
width:40%;
padding:20px;
font-size:25px;
margin:auto 0;
text-align:center;
}
.plans-counselor{
width:70%;
margin:10px auto;
}
.plans-counselor img{
width:90px;
}
.plans-counselor .table{
margin:auto;
border-color:transparent;
}
.plans-counselor .table > tbody > tr > td{
border-color:transparent;
}
.plans-counselor .table　p{
padding:10px 20px;
}
.table-plans label{
font-size:20px;
}
.table-plans label img {
margin: 0 5px;
}
.plans-service{
width:70%;
margin:auto;
}
.plan-thumbnail{
border:0;
text-align: center;
}
.ytop{
    background-color: #f7f8f8;
    width: 100%;
    height: 107px;
    border: 1px solid #e3e3e3;
}
.media-object{
    margin-left: 20px;
    margin-right: 15px;
    height: 65px;
    width: 65px;
}
.media-body{
    line-height: 25px;
    vertical-align: middle;
}
.plans-right{
    padding-top: 50px;
}
.bignum{
    font-size: 30px;
}
.czzx{
    height: 75px;
    background-color: #fff;
    padding-top: 30px;
}
.well-plan{
    padding: 0;
}
.well-sm{
    padding: 0;
}
.well{
    padding: 0;
}
.ddsyl{margin: 0;color: #595757;}
.h3{
    margin: 0;
    font-size: 20px;
    color: #f39800;
}
.panel-danger{
    border: 1px solid #f39800;
}
.wxzf{
    font-size: 18px;
}
.wxsmzf{
    font-size: 14px;
}
.panel-plan img{
    width: 50px;
    display: inline-block;
    
}
.wx{
    display: inline-block;
    margin-top: 10px;
    line-height: 20px;
}
.mymedia-body{
    padding-top: 0px;
}
.plans-right{
    width: 230px;
}
.table > tbody > tr > td > div.plans-price{
    text-align: center;
    font-size: 30px;
}
.wximg{
    vertical-align: -6px;
}
.zfbimg{
    vertical-align: -4px;
}
#mylabel{
    background-color: #fff;
    height: 90px;
    width: 250px;
    line-height: 60px;
    text-align: center;
    border: 1px solid #e1e2e2;
}
.mytr{
    height: 120px;
}
#mywepay{
    margin-left: -20px;
    margin-top: 40px;
    cursor: pointer;
}
#wepayimg{
    margin-left: 20px;
    margin-top: -25px;
}
#mylabel1{
    background-color: #fff;
    height: 90px;
    width: 250px;
    line-height: 60px;
    text-align: center;
    border: 1px solid #e1e2e2;
    
}
#myalipay{
    margin-top: 40px;
    cursor: pointer;
}
.myp{
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 0;
    color: #dcdcdd;
}
.myspan{
    font-size: 18px;
    margin-bottom: 0;
}
.mydiv{
    display: inline-block;
    line-height: 20px;
    margin-top: 25px;
}
#myalipayimg{
    margin-top: -25px;
}
.mybtn4{
    height: 50px;
    border: none;
}
.mytop{
    border: 1px solid #dfe0e0;
    height: 160px;
    width: 120%;
    margin-left: -10%;
}
.mytopimg{
    margin-top: 20px;
}
.mytop_p{
    margin-top: 15px;
}
.mytop_p h4{
    color: #7051f2;
}
.myleft{
    height: 160px;
    width: 30%;
    border-left: 1px solid #dfe0e0;
    text-align: center;
    float: right;
}
.chec{
    font-size: 14px;
    color: #7051f2;
    cursor: pointer;
    margin-left: 0%;
}
.btnqrkt{
    width: 200px;
    height: 40px;
    margin-bottom: 12px;
    margin-left: 0%;
}
.myh3{
    margin: 0;
    margin-left: -3%;
    line-height: 60px;
    font-size: 35px;
    font-family: "微软雅黑";
}
.mymiddle{
    background-color: #f7f8f8;
    margin-top: 40px;
    height: 160px;
    border-left: 15px solid white;
    border-right: 15px solid white;
}
.myh4{
    font-size: 22px;
    margin-left: 41%;
    margin-top: 30px;
}
.myh4p{
    line-height: 20px;
    font-size: 16px;
    margin-left: 26%;
    margin-top: 0px;
    margin-bottom: 0;
    color: #898989;
}
.mytable{
    background-color:#f7f8f8;
}
.saoma{
    font-size: 16px;
    text-align: center;
    display: inline-block;
}
.saomaspan{
    font-size: 16px;
    color: #f44548;
}
.blue{
   background-color: #168bd9;
   line-height: 15px;
   width: 38%;
   margin: 0 auto;
}
.bluep{
    margin: 0;
    color: #fff;
}
.paytype{
    margin-left: -6px;
    vertical-align: 8px;
}
.paytype1{
    margin-left: -28px;
    vertical-align: 8px;
}
.mybtn7{
    width: 160%;
    height: 40px;
    line-height: 27px;
}
.kf3{
    font-size: 15px;
}
.myof2{
    margin-bottom: 20px;
}
.mypo{
    cursor: pointer;
}
.myplans-right{
    padding-right: 30px;
}
.mypel{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    height: 100px;
    padding-top: 25px;
}
.czzxp{
    font-size: 14px;
    color: #231815;
    width: 80px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
    
}
.myczfs{
    margin-right: 10%;
    margin-left: 5%;
}
.myfz{
    font-size: 20px;
    margin-left: -2%;
}
.myfp{
    padding-top: 10px;
    margin-bottom: 0;
}
.mycolxs3{
    margin-left: 4%;
    margin-right: 4%;
    width: 25%;
    float: left;
}
.bigbac{
     width: 120%;
    margin-left: -10%;
}
.p4{
    width: 60%;
    margin-left: 20%;
    color: #b8bfc7;
    margin-bottom: 90px;
}
.mytd{
    height: 100px;
}
.mypic{
    margin-bottom: 20px;
}
.myclap{
    color: #7051f2;
    line-height: 5px;
}
.check{
    margin-left: 10px;
}
.zffsul{
    width: 91%;
    height: 40px;
    background-color: #fff;
    margin-left:4%;
    padding-left: 0;
    margin-bottom: 0;
    border: 1px solid #dcdddd;
    border-bottom: none;
}
.zffsul li{
    list-style: none;
    float: left;
    border-bottom: 1px solid #dcdddd;
    height: 40px;
    width: 15%;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.dgzffsdiv{
    width: 91%;
    height: 350px;
    background-color: #fff;
    margin-left: 4%;
    margin-bottom: 50px;
    padding-top: 40px;
}
.dgzffsdivul{
    background-color: #f7f8f8;
    height: 30px;
    width: 93%;
    margin: 0 auto;

}
.dgzffsdivul li{
    list-style: none;
    float: left;
    width: 33%;
    line-height: 30px;
    text-align: center;
    
}
.dgyhname{
    height: 30px;
    width: 93%;
    margin: 0 auto;
    border: 1px solid #f7f8f8;
    margin-top: 20px;
}
.dgyhname li{
    list-style: none;
    float: left;
    width: 33%;
    line-height: 30px;
    color: #898989;
    text-align: center;
}
.dgp{
    margin-left: 3px;
    margin-top: 40px;
    list-style: none;
    color: #898989;
}
.dgp1{
    margin-left: 18px;
    margin-top: 8px;
    color: #459ae9;
    
}
.dgp2{
    margin-left: 3px;
    margin-top: 8px;
    list-style: none;
    color: #898989;
    
}
.zfbdiv{
    width: 91%;
    height: 350px;
    background-color: #fff;
    margin-left: 4%;
    margin-bottom: 50px;
    padding-top: 30px;
}
.zfbdivimg{
    margin-left: 30px;
    margin-bottom: 30px;
    display: block;
}
.zfbdivul{
    background-color: #f7f8f8;
    width: 95%;
    margin: 0 auto;
    height: 30px;
    padding-left: 15px;
}
.zfbdivul li{
    list-style: none;
    width: 40%;
    float: left;
    line-height: 30px;
}
.zfbdivul1{
    width: 95%;
    margin: 0 auto;
    height: 30px;
    padding-left: 15px;
    border: 1px solid #f7f8f8;
    margin-top: 10px;
    
}
.zfbdivul1 li{
    list-style: none;
    width: 40%;
    float: left;
    line-height: 30px;
    color: #898989;
}
.wxdiv{
    height: 350px;
    width: 91%;
    margin-left: 4%;
    background-color: #fff;
    margin-bottom: 50px;
    padding-top: 110px;
    border: 1px solid #dcdddd;
    border-top: none;
}
.wxdiv1{
    height: 80px;
    width: 240px;
    border: 1px solid #f39800;
    margin-left: 50px;
    border-radius: 3px;
    background-color: #f4f5f9;
    line-height: 80px;
    text-align: center;
    font-size: 16px;
    color: #595757;
}
.wxdiv1img{
    margin-top: 11px;
    margin-left: 26px;
    float: left;
}
.wxdivnum{
    float: left;
    height: 50px;
    width: 100px;
    margin-top: 7px;
    margin-left: 20px;

}
.wxdivnum p{
    margin: 0;
    padding: 0;
    color: #000;
}
.zffsul .myname{
    color: #f39800;
    border-bottom: 0;
    border-right:1px solid #dcdddd ;
}
.wxqrzf{
    height: 40px;
    width: 240px;
    background-color: #f39800;
    color: #fff;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 5px;
    border-radius: 3px;
    margin-bottom: 15px;
}
.mmdiv{
    width: 100%;
    margin: 0 auto;
    height: 600px;
    background-color: #f7f8f8;
    margin-bottom: 20px;
    padding-top: 50px;
}
.mmxzffy{
    margin-left: 25px;
    margin-bottom: 30px;
}
.mmxzffy span{
    margin-right: 30px;
}
.mmzffsul{
    width: 80.5%;
    height: 40px;
    background-color: #fff;
    padding-left: 0;
    border: 2px solid #efefef;
    margin: 0 auto;
    margin-bottom: 0;
    float: right;
    margin-right: 22.125px;
}
.mmzffsul-li{
    list-style: none;
    float: left;
    border-right: 1px solid #efefef;
    height: 40px;
    width: 15%;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.mmli{
    width: 15%;
    text-align: left;
    background-color: #f7f8f8;
    border: none;
    list-style: none;
    float: left;
    height: 40px; 
    line-height: 40px;
    color: #898989;       
}
.mmwxdiv{
    height: 350px;
    width: 80.5%;
    float: right;
    margin-right: 22.125px;
    background-color: #fff;
    margin-bottom: 50px;
}
.mmzfbdiv{
    width: 80.5%;
    height: 350px;
    background-color: #fff;
    float: right;
    margin: 0 auto;
    margin-right: 22.125px;
    margin-bottom: 50px;
}
.mmdgzffsdiv{
    width: 80.5%;
    height: 350px;
    background-color: #fff;
    float: right;
    margin-right: 22.125px;
    margin-bottom: 50px;
}
.wxqrzf a{
    color: #fff;
    text-decoration: none;
}
.mymtd{
    margin-top: 20px;
}
.mmspan1{
    color: #898989;
}
.mmspan2{
    font-size: 18px;
    color: #f04453;
}
.zffsp{
    float: left;
    padding: 0;
    margin: 0;
    line-height: 40px;
    margin-left: 27px;
    color: #898989;
}
.mypel h3{color: #f39800;font-family: "微软雅黑";}
.plsj{
    font-size: 18px;
    color: #231815;
    margin: 0;
}
.pldd{
    font-size: 14px;
    color: #b5b5b6;
    margin: 0;
}
.media1{float: left;}
.mylht{
    line-height: 20px;
    float: left;
}
.ts{
    color: #231815;
}
.czzxp.active{
    color: #f39800;
    border-bottom: 2px solid #f39800;
}
.formh{
    padding-top: 40px;
}
.wxzfsm{
    margin-left: 30px;
    float: left;
}
.zongsty{
    margin-right: 30px;
    float: right;
}
.bigzi{
    color: #595757;
    font-size: 25px;
}
.fwxy{
    float: right;
    color: #231815;
    font-size: 12px;
    cursor: pointer;
}
.fwxy:hover{
    text-decoration: none;
}
.zztc{
    height: 220px;
    width: 520px;
    margin-left: 4%;
    border: 2px solid #f39800;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}
.dgzxing1{
    margin-top: 25px;
    margin-left: 25px;
    width: 75px;
    float: left;
    
}
.zzfwdiv{
    float: right;
    height: 150px;
    width: 320px;
    margin-right: 35px;
    margin-top: 35px;
}
.zzfwdiv p{
    color: #f39800;
    font-size: 18px;
    padding-left: 25px;
    margin-bottom: 20px;
}
