<div>
	 <form class="form-horizontal order-warp order-warp1" name="forms.suborderForm" ng-submit="searchByCondition()" novalidate>
      <div class="row order-head">
      	<div class="col-xs-5 order-time">
      		<div class="start col-xs-5">
	          <div class="form-group" 
	          	ng-class="{ 'has-error' : forms.suborderForm.starttime.$invalid && submitted}">
	            <div class="input-group pull-left">
	              <input type="text" class="form-control"
	                name="starttime"
	                uib-datepicker-popup="{{'dd-MMMM-yyyy'}}" 
	                ng-model="status.startTime" is-open="status.startTimePopup.opened" 
	                close-text="Close"
	                placeholder="起始时间"
	                alt-input-formats="altInputFormats" />
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="openStarttimePopup()">
	                  <i class="glyphicon glyphicon-calendar"></i>
	                </button>
	              </span>
	            </div>
	          </div>
	        </div>
	        <div class="col-xs-1 font-span">
	        	<span>至</span>
	        </div>
	        <div class="col-xs-5 end">
	          <div class="form-group" 
	          	ng-class="{ 'has-error' : forms.suborderForm.endtime.$invalid && submitted}">
	            <div class="input-group pull-left">
	              <input type="text" class="form-control"
	                name="endtime"
	                uib-datepicker-popup="{{'dd-MMMM-yyyy'}}" 
	                ng-model="status.endTime" is-open="status.endTimePopup.opened" 
	                close-text="Close" 
	                placeholder="结束时间"
	                alt-input-formats="altInputFormats" />
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="openEndtimePopup()">
	                  <i class="glyphicon glyphicon-calendar"></i>
	                </button>
	              </span>
	            </div>
	          </div>
	        </div> 
	        <div class="col-xs-1 btn-col1">
          		<button type="submit" class="btn btn-primary btn-outline btn-sm btn-sub">搜索</button>
        	</div>
      	</div>
      	<div class="col-xs-3">
      		<input type="number" class="form-control form-number" ng-model="status.serial" placeholder="输入序列号">
          	<button type="submit" class="btn btn-primary btn-outline btn-sm btn-sub">搜索</button>
      	</div>
      	<div class="col-xs-3">
          <input type="text" class="form-control form-number" ng-model="status.order" placeholder="输入订单号">
          <button type="submit" class="btn btn-primary btn-outline btn-sm btn-sub">搜索</button>
      	</div>
        <div class="col-xs-1 form-pagi">
        	<nosy-pagi pagi="pagi"></nosy-pagi>
        </div>
      </div>
      <div class="row print">
      	<div class="col-xs-12">
      		<!--<button type="button" class="btn btn-primary btn-outline btn-sm" ng-click="exportCards()" >下载语音码</button>-->
        	<button type="button" class="btn btn-primary btn-outline btn-sm" ng-click="exportSuborders()">导出订单</button>
      	</div>
      </div>
    </form>
	<!--订单筛选-->
	<div class="from-group online online1">
      <div class="col-xs-6 left">
	    <div class="btn-group btn-danger btn-group-sm">
	        <label class="btn btn-primary" ng-model="status.shipping" uib-btn-radio="'all'">全部子订单</label>
		<label class="btn btn-primary" ng-model="status.shipping" uib-btn-radio="'toshipping'">待发货</label>
		<label class="btn btn-primary" ng-model="status.shipping" uib-btn-radio="'shipping'">已发货</label>
	      </div>
      </div>
      <div class="col-xs-6 right">
    	 <nosy-pagi pagi="pagi"></nosy-pagi>
      </div>
   </div>  
	
	<table class="table suborder">
		<thead>
			<tr>
				<th width="20%">子订单单号</th>
				<th width="15%">商品</th>
				<th width="15%">生成时间</th>
				<th width="30%">收货人信息</th>
				<th width="10%">发货管理</th>
				<th width="10%">语音码</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="suborder in suborders">
				<td>{{ suborder.id || suborder._id }}</td>
				<td>{{ suborder.order.gift.info.name }}</td>
				<td>{{ suborder.fillinDate | date: 'yyyy-MM-dd' }}</td>
				<td>{{ suborder.consignee }}</td>
				<td ng-if="!suborder.status.shipping">
					<input class="ship" type="button" ng-click="shippingModel(suborder)" value="发货"/>
				</td>
        		<td ng-if="suborder.status.shipping"><span class="ifship">已发货</span></td>
				<td>
					<input class="upload" type="button" ng-click="exportCard(suborder)" value="下载"/>
				</td>
			</tr>
		</tbody>
	</table>
</div>